---
layout: layouts/base.njk
---

<div class="presskit">
    <div class="section two-elements">
        <div class="section-element">
            <h1>Wer ist €$¥?</h1>
            <p>
                €$¥ sind Yung Obama, Slowmoe, 9T9 und ihr Team. Musikalisch lassen sich die Rapper nicht einschränken und beweisen auf
                Boombap, Trap, House oder Rockbeats ihre Individuellen lyrischen Fähigkeiten.
            </p>
            <p>
                Live spielt €$¥ inzwischen auf vielen unterschiedlichen Bühnen, wie dem Marienplatzfest, im LKA Longhorn, dem
                Awara-Festival und vielem mehr. Im Studio oder vor der Kamera; €$¥ bleibt echt und bringt Laune mit. Sowohl visuell als
                auch musikalisch setzt €$¥ auf interne Produktionen, wodurch sich über die letzten Jahre ein klarer Stil abzeichnen
                konnte.
            </p>
        </div>
        <div class="section-element">
            <img src="/assets/images/esy_crew_stage_view.jpg"/>
        </div>
    </div>
    <div class="section three-elements">
        <a
            class="section-element center reset-link-styles hover"
            target="_blank"
            href="https://open.spotify.com/artist/7i821Ta09j5atcVbbCk49x?si=kGgCrAqOTd-fEEH0KTQTNA">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="-2 -2 24 24" width="24" fill="currentColor">
                <path d="M9.992 0C4.474 0 0 4.474 0 9.992c0 5.518 4.474 9.992 9.992 9.992 5.518 0 9.992-4.474 9.992-9.992C19.984 4.474 15.51 0
                    9.992 0zm4.348 15.683c-.127.329-.355.512-.59.512a.518.518 0 0
                    1-.344-.141c-1.796-1.588-3.87-1.843-5.294-1.778-1.578.073-2.735.544-2.747.549-.363.15-.74-.174-.839-.724-.1-.55.114-1.119.477-1.27.052-.022
                    1.297-.534 3.029-.62a8.939 8.939 0 0 1 2.917.32 8.09 8.09 0 0 1 3.146 1.737c.326.289.436.922.245
                    1.415zm1.27-3.063c-.15.329-.42.512-.699.512a.677.677 0 0
                    1-.407-.141c-2.127-1.588-4.584-1.843-6.271-1.778-1.87.073-3.24.544-3.253.549-.431.15-.876-.174-.995-.724-.118-.55.135-1.119.566-1.27.061-.022
                    1.536-.534 3.587-.62 1.208-.051 2.37.057 3.456.32 1.374.333 2.628.917 3.726 1.737.386.288.516.922.29
                    1.415zm.782-2.996a.958.958 0 0 1-.5-.142C10.835 6.404 4.276 8.234 4.21
                    8.252c-.528.153-1.075-.17-1.22-.721-.146-.551.165-1.12.693-1.272.076-.022 1.885-.534 4.4-.62a18.63 18.63 0 0 1
                    4.24.32c1.686.333 3.223.917 4.57 1.738.474.288.633.921.357 1.414a.985.985 0 0 1-.858.513z"></path>
            </svg>
            Spotify
        </a>
        <a
            class="section-element center reset-link-styles hover"
            target="_blank"
            href="https://www.youtube.com/channel/UC_jJrrdFLMteejB37ULZmsw">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="-2 -5 24 24" width="24" fill="currentColor">
                <path d="M15.812.017H4.145C1.855.017 0 1.852 0 4.116v5.768c0 2.264 1.856 4.1 4.145 4.1h11.667c2.29 0 4.145-1.836
                    4.145-4.1V4.116c0-2.264-1.856-4.1-4.145-4.1zM13.009 7.28L7.552 9.855a.219.219 0 0
                    1-.314-.196V4.35c0-.161.173-.266.318-.193l5.458 2.735a.216.216 0 0 1-.005.389z"></path>
            </svg>
            Youtube
        </a>
        <a
            class="section-element center reset-link-styles hover"
            target="_blank"
            href="https://open.spotify.com/playlist/1pYF9voRxDC1l05nwPj5Sh?si=ca1f4321df6e4be8">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="-2 -2 24 24" width="24" fill="currentColor">
                <path d="M14.017 0h-8.07A5.954 5.954 0 0 0 0 5.948v8.07a5.954 5.954 0 0 0 5.948 5.947h8.07a5.954 5.954 0 0 0
                    5.947-5.948v-8.07A5.954 5.954 0 0 0 14.017 0zm3.94 14.017a3.94 3.94 0 0 1-3.94 3.94h-8.07a3.94 3.94 0 0
                    1-3.939-3.94v-8.07a3.94 3.94 0 0 1 3.94-3.939h8.07a3.94 3.94 0 0 1 3.939 3.94v8.07z"></path>
                <path d="M9.982 4.819A5.17 5.17 0 0 0 4.82 9.982a5.17 5.17 0 0 0 5.163 5.164 5.17 5.17 0 0 0 5.164-5.164A5.17 5.17 0 0 0 9.982
                    4.82zm0 8.319a3.155 3.155 0 1 1 0-6.31 3.155 3.155 0 0 1 0 6.31z"></path>
                <circle cx="15.156" cy="4.858" r="1.237"></circle>
            </svg>
            Instagram
        </a>
    </div>
    <div class="section two-elements">
        <div class="section-element">
            <img src="/assets/images/esy_stage_crowd_view.jpg"/>
        </div>
        <div class="section-element">
            <h1>Ansprechpartner Presse und Booking</h1>
            <h2>Joshua Lampe</h2>
            <p>
                Email:
                <a class="reset-link-styles" href="mailto:{{ site.emailAddress }}">{{ site.emailAddress }}</a>
            </p>
            <p>
                Telefon:
                <a class="reset-link-styles" href="tel:+491782329756">+49 178 2329756</a>
            </p>
            <p>
                Instagram:
                <a class="reset-link-styles" target="_blank" href="https://instagram.com/yung_0bama?igshid=YmMyMTA2M2Y=">yung_0bama</a>
            </p>
        </div>
    </div>
    <div class="section two-elements">
        <div class="section-element">
            <h1>Artists</h1>
            <p>
                <span class="artist">Yung Obama:</span>
                <a class="reset-link-styles" target="_blank" href="https://instagram.com/yung_0bama?igshid=YmMyMTA2M2Y=">Instagram</a>
                <a class="reset-link-styles" target="_blank" href="https://open.spotify.com/artist/2XAOQ1h6Fypz8mLQm51BUL?">Spotify</a>
                <a class="reset-link-styles" target="_blank" href="https://music.apple.com/de/artist/yung-obama/1536301352">Apple Music</a>
            </p>
            <p>
                <span class="artist">Slowmoe:</span>
                <a class="reset-link-styles" target="_blank" href="https://instagram.com/slowzummoe?igshid=YmMyMTA2M2Y=">Instagram</a>
                <a class="reset-link-styles" target="_blank" href="https://open.spotify.com/artist/3TxIcVsnBQs7bMSi7cqXXN">Spotify</a>
                <a class="reset-link-styles" target="_blank" href="https://music.apple.com/de/artist/slowmoe/1349175256">Apple Music</a>
            </p>
            <p>
                <span class="artist">9T9:</span>
                <a class="reset-link-styles" target="_blank" href="https://instagram.com/_.9t9._?igshid=YmMyMTA2M2Y=">Instagram</a>
                <a class="reset-link-styles" target="_blank" href="https://open.spotify.com/artist/3Z6SxyeSSWbk4RnlgW56rJ">Spotify</a>
                <a class="reset-link-styles" target="_blank" href="https://music.apple.com/de/artist/9t9/1631571081">Apple Music</a>
            </p>
        </div>
        <div class="section-element">
            <video controls>
                <source src="movie.mp4" type="video/mp4"> Dein Browser kann keine Videos abspielen :(
            </video>
        </div>
    </div>
</div>