<nav class="navbar-wrapper">
    <div class="navbar-elements">
        <a href="/">
            News
        </a>

        <a href="/musik">
            Musik
        </a>

        <a href="/esy-crew">
            Esy Crew
        </a>

        <a href="/kontakt">
            Kontakt
        </a>
    </div>
</nav>