<nav class="navbar-wrapper">
    <div class="image-wrapper">
        <img src="/assets/images/simon stage.jpeg">
        <div class="gradient"></div>
    </div>
  
    <div class="navbar-elements header">
        <a href="/">
            News
        </a>

        <a href="/musik">
            Musik
        </a>

        <a href="/esy-crew">
            Esy Crew
        </a>

        <a href="/kontakt">
            Kontakt
        </a>
    </div>
</nav>