<nav class="navbar-wrapper" style="background-image: url('/assets/images/simon stage.jpeg')">
    
 
    <div class="navbar-elements" >
        <a href="/">
            News
        </a>

        <a href="/musik">
            Musik
        </a>

        <a href="/esy-crew">
            Esy Crew
        </a>

        <a href="/kontakt">
            Kontakt
        </a>
    </div>
</nav>