<div class="spenden-wrapper">
    <div class="spenden-content">
        <h2>Supporte Uns</h2>
        Wenn dir unsere Musik gefällt kannst du uns über eine kleine Spende supporten :) So ermöglichst du uns Sache1, Sache2 und sogar Sache3.
        <br>
        Danke dir
        <div class="spenden-button">Spendenbutton</div>

    </div>
</div>