<div class="spenden-wrapper">
    <div class="spenden-content">
        <h2>Supporte Uns</h2>
        Wenn dir unsere Musik gefällt kannst du uns über eine kleine Spende supporten :) 
        <br>
        Danke dir
        <div class="spenden-button">Spendenbutton coming soon...</div>

    </div>
</div>