@media only screen and (min-width: 0px) {

    .release-items-preview-wrapper,
    .newsitems-preview-wrapper {
        grid-template-columns: 1fr;
    }

    .coming-soon-wrapper .title,
    .coming-soon-wrapper .date {
        margin: 64px 0;
        max-width: 128px;
        opacity: .8;
    }

    .coming-soon-wrapper {
        width: 100%;
        aspect-ratio: 1 / 1;
        max-height: 400px;
    }

    .coming-soon-wrapper h1 {
        font-size: medium;
    }

    .navbar-elements svg {
        width: 80px;
        height: 80px;
        min-width: 80px;
        min-height: 80px;
    }

    .newsitems-preview-wrapper .image-wrapper img {
        height: 200px;
    }

    .release-page-wrapper {
        grid-template-columns: 1fr;

        grid-template-areas:
            "header-wrapper"
            "content-wrapper"
            "spenden-wrapper";
    }

    .release-page-wrapper .header-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .release-page-wrapper .description-wrapper {
        padding: 0;
        align-items: center;
        text-align: center;
    }

    .release-page-wrapper .social-media-links-wrapper {
        justify-content: center;
    }

    .contact-items-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .presskit .section.two-elements {
        grid-template-columns: repeat(1, 1fr);
    }

    .presskit {
        gap: 32px;
    }
}

@media only screen and (min-width: 700px) {
    .linklist-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .coming-soon-wrapper {
        width: 100%;
        height: 400px;
        aspect-ratio: auto;
    }

    .coming-soon-wrapper h1 {
        font-size: x-large;
    }

    .coming-soon-wrapper .title,
    .coming-soon-wrapper .date {
        max-width: 200px;
    }

    .newsitems-preview-wrapper,
    .release-items-preview-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }


    .release-page-wrapper .header-wrapper {
        flex-direction: row;
        align-items: initial;

    }

    .release-page-wrapper .description-wrapper {
        padding: 16px 0;
        align-items: flex-start;
        text-align: left;
    }

    .release-page-wrapper .social-media-links-wrapper {
        justify-content: initial;
    }

    .navbar-elements svg {
        width: 128px;
        height: 128px;
    }

    .newsitems-preview-wrapper .image-wrapper img {
        height: 250px;
    }

    .contact-items-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .presskit {
        gap: 64px;
    }

    .presskit .section.two-elements {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (min-width: 1100px) {

    .coming-soon-wrapper .title,
    .coming-soon-wrapper .date {
        max-width: 300px;
        margin: 32px 0;
        opacity: 1;
    }

    .release-items-preview-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .newsitems-preview-wrapper .image-wrapper img {
        height: 280px;
    }

    .release-page-wrapper {
        grid-template-rows: initial;
        grid-template-columns: 1fr 1fr .8fr;
        grid-template-areas:
            "header-wrapper header-wrapper spenden-wrapper"
            "content-wrapper content-wrapper content-wrapper";
    }
}