.release-items-preview-wrapper .release-element-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.release-items-preview-wrapper .image-wrapper {
    width: 250px;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0px 5px 16px -8px var(--color-darkest);
}

.release-items-preview-wrapper .image-wrapper img {
    height: 100%;
    width: 100%;
}

.release-items-preview-wrapper .image-wrapper .gradient {
    opacity: .6;
    background: radial-gradient(rgba(0, 0, 0, 0) 0%, var(--color-darker) 100%);
}

.release-items-preview-wrapper .description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.release-items-preview-wrapper .description-wrapper h3{
    font-weight: normal;
}

.release-items-preview-wrapper .description-wrapper :is(h2, h3) {
    margin: 0;
    text-align: center;
}

.release-page-wrapper h1 span { 
    padding-left: 8px;
    font-size: 24px;
    white-space: nowrap;
}

.release-items-preview-wrapper h2 span { 
    font-weight: normal;
}

.release-items-preview-wrapper {
    padding: 32px 0;
    margin-top: 32px;
    display: grid;
    gap: 64px 0;
}



.release-page-wrapper {
    margin-top: 16px;
    gap: 32px;
    display: grid;
}

.release-page-wrapper .header-wrapper {
    display: flex;
    gap: 32px;
}

.release-page-wrapper .image-wrapper {
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
    box-shadow: 0px 5px 30px -8px var(--color-darkest);
    border-radius: 10px;

}

.release-page-wrapper .description-wrapper {
    display: flex;
    flex: 1;
    gap: 16px;
    flex-flow: column;
    
}

.release-page-wrapper .description-wrapper :is(h1, h2) {
    margin: 0;
}

.release-page-wrapper .social-media-links-wrapper {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: 16px;
}

.release-page-wrapper .link {
    display: flex;
    flex-flow: row;
    align-items: center;
    border-radius: 8px;
    gap: 8px;
    font-weight: bold;
}

.release-page-wrapper .header-wrapper {
    grid-area: header-wrapper;
}

.release-page-wrapper .spenden-wrapper {
    grid-area: spenden-wrapper;
}

.release-page-wrapper .content-wrapper {
    grid-area: content-wrapper;
}