.spenden-wrapper {
    position: relative;
    opacity: .8;
}
.spenden-wrapper .spenden-button {
    margin-top: 16px;
    border: 1px solid var(--color-dark);
    padding: 8px;
    
    border-radius: 4px;
    cursor: pointer;
}
