<!DOCTYPE html>
<html lang="{{ site.language }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css"/>
        <title>{{ site.title }}</title>
    </head>
    <body>
    
        <header>
            <header>{% include "nav.njk" %}</header>
        </header>
        <div class="main-wrapper">
        <main>
            {{ content | safe }}
        </main>
            
        </div>
    </body>
</html>