<!DOCTYPE html>
<html lang="{{ site.language }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}"/>
        <link rel="icon" type="image/x-icon" href="/assets/images/favicon/favicon.svg">
        <title>{{ site.title }}</title>
    </head>
    <body>
        <header>
            {% include "nav.njk" %}
        </header>
        <div class="main-wrapper">
            <main>
                {{ content | safe }}
            </main>
        </div>
        <footer>
            {% include "footer.njk" %}
        </footer>
    </body>
</html>