--- 
layout: layouts/base.njk 
---

<h1>{{ title }}</h1>

<div class="contact-items-wrapper">
    <a class="contact-item reset-link-styles hover" href="mailto:{{ site.emailAddress }}?subject=Buchungsanfrage&body=Ich möchte euch Buchen" >
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="-6 -2 24 24" width="24" fill="currentColor">
            <path d="M12 12H8a1 1 0 0 0 0 2h3.659a6.017 6.017 0 0 1-3.686 3.668 2 2 0 1 1-3.945 0A6.017 6.017 0 0 1 .34 14H4a1 1 0 0 0 0-2H0v-2h4a1 1 0 1 0 0-2H0V6h4a1 1 0 1 0 0-2H.341A6.002 6.002 0 0 1 11.66 4H8a1 1 0 1 0 0 2h4v2H8a1 1 0 1 0 0 2h4v2z"></path>
        </svg>
        <div class="header-wrapper">
            <h2>
                Booking
            </h2>
            <p>
                Du willst uns buchen?
            </p>
            <p>
                <b>
                    Kontaktiere uns
                </b>
            </p>

        </span>
    </div>
</a>
<a class="contact-item reset-link-styles hover" href="mailto:{{ site.emailAddress }}?subject=Beatanfrage&body=Ich brauche Beats">
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="-5 -2 24 24" width="24" fill="currentColor">
        <path d="M3 0h8a3 3 0 0 1 3 3v14a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3V3a3 3 0 0 1 3-3zm4 17a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM7 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"></path>
    </svg>
    <div class="header-wrapper">
        <h2>
            Beats
        </h2>
        <p>
            Du brauchst Beats?
        </p>
        <p>
            <b>
                Wir haben dich
            </b>
        </p>

    </div>
</a>

<a class="contact-item reset-link-styles    hover" href="mailto:{{ site.emailAddress }}?subject=Frage">
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="-2 -2.5 24 24" width="24" fill="currentColor">
        <path d="M3 0h14a3 3 0 0 1 3 3v8a3 3 0 0 1-3 3h-6.958l-6.444 4.808A1 1 0 0 1 2 18.006V14a2 2 0 0 1-2-2V3a3 3 0 0 1 3-3zm6.378 12H17a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1 1 1 0 0 1 1 1v3.013L9.378 12zM13 9a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM7 9a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"></path>
    </svg>
    <div class="header-wrapper">
        <h2>
            Fragen
        </h2>
        <p>
            Du hast ein anderes Anliegen?
        </p>
        <p>
            <b>
                Kontaktiere uns
            </b>
        </p>
    </div>
</a>
</div>

{{ content | safe }}