---
layout: layouts/base.njk 
---

<h1>{{ title }}</h1>
{{ content | safe }}

<div class="release-items-preview-wrapper">
  {%- for release in collections.release -%}
    <a class="release-element-wrapper reset-link-styles hover" href="{{ release.url }}">
      <div class="image-wrapper">
        <img src="{{ release.data.previewIimageUrl }}">
        <div class="gradient"></div>
      </div>
      <div class="description-wrapper">
        <h2>{{ release.data.title }}</h2>
        <h3>{{ release.date | postDate }}</h3>        
      </div>
    </a>
  {%- endfor -%}
</div>