---
layout: layouts/base.njk 
---

{{ content | safe }}

<div class="release-items-preview-wrapper">
  {%- for release in collections.release -%}
    <a class="release-element-wrapper reset-link-styles hover" href="{{ release.url | url}}">
      <div class="image-wrapper">
        <img src="{{ release.data.previewIimageUrl | url }}">
        <div class="gradient"></div>
      </div>
      <div class="description-wrapper">
        <h2>{{ release.data.title }}</h2>
        <h3>NoTypeBeats, Yung Obama</h3>
      </div>
    </a>
  {%- endfor -%}
</div>