--- 
layout: layouts/base.njk 
---

{{ content | safe}}

<div class="newsitems-preview-wrapper">
    {%- for newsItem in collections.news | reverse -%}
        <a class="newsitem-element-wrapper hover reset-link-styles hover" href="{{ newsItem.url | url }}">
            <div class="image-wrapper">
                <img src="{{ newsItem.data.headerIimageUrl | url }}">
                <h2>
                    {{ newsItem.data.title }} <span class="date">{{newsItem.date | postDate }}<span>
                </h2>
                <div class="gradient"></div>
            </div>

            <div class="description-wrapper">
                {{ newsItem.data.content | textPreview }}
                <div class="gradient"></div>
                <div class="link">...mehr</div>
            </div>
        </a>
    {%- endfor -%}
</ul>