--- 
layout: layouts/base.njk 
---

<div class="news-page-wrapper">
    <div class="title-wrapper">
        <h1>{{ title }}</h1>
        <div class="image-wrapper">
            <img src="{{ headerIimageUrl }}">
            <div class="gradient"></div>
        </div>
    </div>

</div>

{{content | safe}}