--- 
layout: layouts/base.njk 
---

<div class="news-page-wrapper">
    <div class="title-wrapper">
        <div class="image-wrapper">
            <div class="title">
            <h1>{{ title }}</h1>
            gepostet {{ page.date | postDate}}
            </div>
            <img src="{{ headerIimageUrl | url }}">
            <div class="gradient"></div>
        </div>
    </div>
    <div class="body-wrapper">
        {{ content | safe}}
    </div>
</div>